.base-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: darken($color-bg, 3%);
  width: 25rem;
  height: 100%;
  padding: 2rem;
  border-radius: 2rem;

  @media screen and (max-width: $screen-medium) {
    width: 19rem;
    padding: 1rem;
  }
}

.base-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: self-start;
  flex-wrap: wrap;
  max-height: 20rem;
}

.info-cell {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-data {
  font-size: 1.4rem;
  font-weight: bold;
  color: $color-yellow;
}

.svg-cont {
  span {
    width: 1.7rem;
    height: 1.7rem;
    * {
      width: 1.1rem !important;
      height: 1.1rem !important;
    }
  }
}

.info-data-abilities.color-light {
  color: $color-light;
}
