.pokemon-card {
  padding: 0.5rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  height: 14rem;

  border: 2px solid $color-light-xl;
  border-radius: 1rem;
  position: relative;

  transition: border-color 0.3s ease;
}

.pokemon-card.active {
  border-color: $color-yellow;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon-card__id {
  color: $color-light;
}

.pokemon-card__img {
  width: 156px;
  height: 156px;
  position: relative;
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.img_shiny {
  opacity: 1;
  position: relative;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.img_shiny.disabled {
  opacity: 0;
}

.pokemon-card__name {
  font-size: 1rem;
  transition: color 0.3s ease;
}

.pokemon-card__name.active {
  color: $color-yellow;
}

.card-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed $color-light-xl;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pokemon-card__types-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.pokemon-type {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 0.8rem;
    height: 0.8rem;
  }
}

.pokemon-card__shiny-toggle {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 2.4rem;
  height: 2.4rem;

  border-bottom-right-radius: 0.9rem;
  border-top-left-radius: 100%;

  background-color: transparent;
  border-color: $color-light-xl;
  color: $color-light-xl;
  transition: all 0.3s ease;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  cursor: pointer;
}

.pokemon-card__shiny-toggle.active {
  border-color: $color-yellow;
  color: $color-yellow;
}

.sparkle-wrapper {
  width: 1.55rem;
  height: 1.55rem;
}
