.error-page {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 90px);
  img {
    width: 16rem;
  }
}

.error-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    color: $color-light;
    a {
      font-family: 'Pokemon Hollow';
      color: $color-light-xl;
    }
  }
}