@import './styles/colors.scss';
@import './styles/reset.scss';
@import './styles/typography.scss';
@import './styles/fonts.scss';

@import './routes/Root/Root.scss';
@import './routes/DefaultError/DefaultError.scss';
body {
  height: 662px;
}

#root {
  height: 100%;
}

body {
  background-color: $color-bg;
}
